a {
  text-decoration: none;
  color: #222;
}

/* transition */
.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opacity 0.5s;
}

.logo {
  font-weight: 800;
  font-size: 2rem;
}

.menu {
  margin-left: 2rem;
  padding: 5px;
}

.menu:hover {
  color: #1e1e1e;
  border-bottom: 1px solid #222;
}

.main-bg {
  height: 700px;
  background-image: url(./main-bg.jpeg);
  background-size: cover;
  background-position: center;
}


.products {
  padding: 3rem 4rem;
}

.products h4 {
  font-family: 'Lora', serif;
  font-size: 1.35rem;
  margin-top: 1.25rem;
}

.products p {
  font-family: 'Poppins', sans-serif;
  font-size: 0.95rem;
}


.btn-danger {
  background-color: #545454;
  border: 1px solid #545454;
  ;
}

.btn-danger:hover {
  background-color: #434343;
  border: 1px solid #434343;
  ;
}

/* CSS */
.button {
  appearance: none;
  background-color: #f3f3f3;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin: 50px 10px;
}

.button:hover {
  background-color: #ececec;
  text-decoration: none;
  transition-duration: 0.1s;
}

.more {
  appearance: none;
  background-color: #3c3c3c;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin: 50px 10px;
}

.btn {
  appearance: none;
  background-color: #f3f3f3;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.btn:hover {
  background-color: #ececec;
  text-decoration: none;
  transition-duration: 0.1s;
}