a {
  text-decoration: none;
  color: #222;
}


/* transition */
.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opacity 0.5s;
}

.logo {
  font-weight: 800;
  font-size: 2.4rem;
  letter-spacing: -0.1rem;
}

.living {
  font-weight: 200;
}

.menu {
  margin-left: 2rem;
  padding: 5px;
}

.menu:hover {
  color: #1e1e1e;
  border-bottom: 1px solid #222;
}

.main-bg {
  height: 700px;
  background-image: url(./main-bg.jpg);
  background-size: cover;
  background-position: center;
}

.products h4 {
  font-family: 'Lora', serif;
  font-size: 1.35rem;
  margin-top: 1.25rem;

  padding-bottom: 10px;
  font-weight: 500;
}

.products p {
  font-family: 'Poppins', sans-serif;
  font-size: 0.95rem;
}


.btn-danger {
  background-color: #545454;
  border: 1px solid #545454;
  ;
}

.btn-danger:hover {
  background-color: #434343;
  border: 1px solid #434343;
  ;
}

/* CSS */
.button {
  appearance: none;
  background-color: #ececec;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin: 50px 5px;
}

.button:hover {
  background-color: #ececec;
  text-decoration: none;
  transition-duration: 0.1s;
}

.more {
  appearance: none;
  background-color: #ffffff;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #636363;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin: 50px 10px;
  margin-bottom: 100px;
}

.btn {
  appearance: none;
  background-color: #f3f3f3;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.btn:hover {
  background-color: #d85a53;
  text-decoration: none;
  transition-duration: 0.1s;
  color: #ffffff;
  border: 1px solid #d85a53
}

.orderBtn {
  text-align: right;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 1px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #cfcfcf;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}


.extra-img {
  border: 10px solid #fff;
}

.detail-tabs {
  margin-top: 50px;
}

.nav-link {
  color: rgb(169, 168, 168);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: #4c4a48;
  color: #fff;

}

.nav-link:focus,
.nav-link:hover {
  color: #3b3b3b;
}

.nav-tabs .nav-link {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
}

.bottom {
  background: #1f1f1f;
  color: #ffffff;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0 70px;
}

.bottom-title {
  font-size: 1rem;
  font-weight: 300;
}

.bottom-dy {
  background-color: #ffffff3c;
  text-align: center;
  padding: 0.5rem 0;
  margin-top: 1rem;
  width: 150px;
  font-size: 1rem;
}

.items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products {
  padding: 2rem 2rem;
  width: 30%;
  margin-bottom: 10px;
}

.w-100 {
  width: 90% !important;
  text-align: center;
}

.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  width: 7px;
  height: 7px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: rgb(54, 54, 54);
  width: 20px;
  height: 20px;
}

.alert-warning {
  margin-top: 40px;
  --bs-alert-color: #3a3a3a;
  --bs-alert-bg: #fff7db;
  --bs-alert-border-color: #fff1c9;
  font-size: 0.9rem;
}

.pt-5 {
  font-size: 2.3rem;
  margin-top: 100px;
  font-weight: 700;
  font-family: 'Lora', serif;
}

.detail-content {
  font-family: 'Poppins', sans-serif;
  margin-top: 20px;
  padding: 10px 0;
  width: 85%;
}

.detail-price {
  font-size: 1.5rem;
  font-weight: 600;
}


.detail-des,
.detail-detail,
.detail-leaving {
  padding: 30px 5px;
  font-size: 0.9rem;
  width: 85%;
}

.me-auto {
  margin-right: 100px !important;
}

Table {
  margin-top: 50px;
  font-family: 'Poppins', sans-serif;
}